annotated-types==0.7.0
beautifulsoup4~=4.13.5
certifi==2025.4.26
charset-normalizer==3.4.2
curl_cffi>=0.15.0
faker~=37.5.3
fastapi>=0.115.0
idna==3.10
lxml>=5.3.0
Pillow>=10.4.0
pycountry-convert~=0.7.2
pycparser==2.22
pycryptodome==3.23.0
pydantic==2.11.4
pydantic_core==2.33.2
PyJWT==2.10.1
PyNaCl~=1.5.0
pyquery~=2.0.1
python-dateutil==2.9.0.post0
redis==6.1.0
requests==2.32.4
six==1.17.0
typing-inspection==0.4.0
typing_extensions==4.13.2
tzdata==2025.2
urllib3==2.4.0
uvicorn[standard]>=0.30.0
wcwidth==0.2.13
